{
  "development": {
    "sequelize": {
      "dialect": "",
      "database": "",
      "host": "",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": ,
      "hostname": "",
      "public": {
        "route": "/app",
        "dir": ""
      }
    },
    "receiver": {
      "port": ,
      "address": ""
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "minutes": 15,
        "limit": 100,
        "order": "datetime DESC"
      },
      "track": {
        "limit": 100,
        "hours": 72
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  },
  "test": {
    "sequelize": {
      "dialect": "",
      "database": "",
      "host": "",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": ,
      "hostname": "",
      "public": {
        "route": "/app",
        "dir": ""
      }
    },
    "receiver": {
      "port": ,
      "address": ""
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "minutes": 15,
        "limit": 100,
        "order": "datetime DESC"
      },
      "track": {
        "limit": 100,
        "hours": 72
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  },
  "production": {
    "sequelize": {
      "dialect": "",
      "database": "",
      "host": "",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": ,
      "hostname": "",
      "public": {
        "route": "/app",
        "dir": ""
      }
    },
    "receiver": {
      "port": ,
      "address": ""
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "minutes": 15,
        "limit": 100,
        "order": "datetime DESC"
      },
      "track": {
        "limit": 100,
        "hours": 72
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  }
}
