{
  "development": {
    "sequelize": {
      "dialect": "mysql",
      "database": "ais",
      "host": "localhost",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": 3000,
      "hostname": "127.0.0.1",
      "public": {
        "route": "/html",
        "dir": "html"
      }
    },
    "receiver": {
      "port": ,
      "address": "0.0.0.0"
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "limit": 10,
        "order": "datetime DESC"
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "style": "mapbox://styles/mapbox/streets-v8",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  },
  "test": {
    "sequelize": {
      "dialect": "mysql",
      "database": "ais",
      "host": "localhost",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": 3000,
      "hostname": "127.0.0.1",
      "public": {
        "route": "/html",
        "dir": "html"
      }
    },
    "receiver": {
      "port": ,
      "address": "0.0.0.0"
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "limit": 500,
        "order": "datetime DESC"
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "style": "mapbox://styles/mapbox/streets-v8",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  },
  "production": {
    "sequelize": {
      "dialect": "mysql",
      "database": "ais",
      "host": "localhost",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "port": ,
      "hostname": "",
      "public": {
        "route": "/app",
        "dir": ""
      }
    },
    "receiver": {
      "port": ,
      "address": ""
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "limit": 500,
        "order": "datetime DESC"
      }
    },
    "frontend": {
      "map": {
        "accessToken": "",
        "style": "mapbox://styles/mapbox/streets-v8",
        "center": [ 9.996006002132162, 53.50766131847098 ],
        "zoom": 12
      }
    }
  }
}
