{
  "development": {
    "sequelize": {
      "dialect": "mysql",
      "database": "",
      "host": "",
      "username": "",
      "password": "",
      "logging": false
    },
    "server": {
      "http": 3000,
      "https": 3443,
      "hostname": "127.0.0.1",
      "maxAge": 0,
      "public": {
        "route": "/html",
        "dir": "html"
      },
      "fonts": {
        "route": "/fonts",
        "dir": "html/fonts"
      }
    },
    "receiver": {
      "port": ,
      "address": ""
    },
    "setup": {
      "movemin": 50,
      "ship": {
        "minutes": 60,
        "limit": 100,
        "order": "datetime DESC"
      },
      "track": {
        "limit": 100,
        "hours": 72
      },
      "reception": {
        "distancefrom": {
          "lat": ,
          "lng":
        }
      }
    },
    "frontend": {
      "map_type": "mapboxgljs",
      "mapboxgljs": {
        "accessToken": "",
        "center": [ , ],
        "zoom": 12
      },
      "googlejs": {
        "apiKey": "",
        "center": {
          "lat": 53.,
          "lng": 9.
        },
        "zoom": 12
      }
    }
  }
}
