* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html, body { overflow: hidden; }
body { margin: 0; padding: 0; background-color: #ccc; }

#map { position:absolute; top:0; bottom:0; width:100%; }

div[data-notify="container"] {
  width: 200px;
  padding: 5px;
  opacity: 0.7;
}

span[data-notify="title"] {
  display: block;
  margin-bottom: 5px;
}

span[data-notify="message"] {
  display: block;
  overflow: hidden;
}