@bg-col: white;

#content {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;

  .header {
    background-color: @bg-col;
    padding: 10px 20px;
  }

  .footer {
    background-color: @bg-col;
    padding: 0px 20px 10px;
  }

  .inner {
    height: 430px;
    width: 400px;
    padding: 10px 20px 0px;
    background-color: @bg-col;
  }

  table {
    margin-bottom: 0px;

    &.fixedhead {
      >thead a {
        color: #333;
        text-decoration: none;
        margin-bottom: 0px;
        background-color: @bg-col;
      }

      >tbody {
        height: 375px;
        width: 360px;
        overflow-y: scroll;
        cursor: pointer;

        border-bottom: 2px solid #ddd;
      }

      >thead a:focus,
      >thead a:hover {
        color: #888;
        text-decoration: none;
      }

      >thead,
      >tbody {
        display: block;
      }
    }
  }

  .list {
    table {
      &.fixedhead {
        >thead th:nth-child(1),
        >tbody td:nth-child(1) {
          width: 225px;
        }

        >thead th:nth-child(2) {
          width: 135px;
        }

        >tbody td:nth-child(2) {
          width: 120px;
        }
      }
    }
  }

  .log {
    table {
      &.fixedhead {
        >thead th {
          width: 360px;
        }

        >tbody td {
          width: 345px;
        }
      }
    }
  }

  .logview {
    &.positions {
      .socket,
      .ship-updated,
      .ship-created,
      .ship-expired {
        display: none;
      }
    }
    .checkbox {
      margin: 0 !important;
    }
  }

  .ship {
    h3 {
      margin-top: 0px;
      cursor: pointer;
    }

    .range {
      margin: 20px 15px;
      .noUi-connect {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    table {
      &.fixedhead {
        >tbody {
          height: 300px;
        }

        >thead th:nth-child(1),
        >tbody th:nth-child(1) {
          width: 120px;
        }

        >thead th:nth-child(2) {
          width: 240px;
        }

        >tbody td:nth-child(2) {
          width: 225px;
        }
      }

      &.position {
        >thead th:nth-child(1),
        >tbody th:nth-child(1) {
          width: 145px;
        }

        >thead th:nth-child(2) {
          width: 215px;
        }

        >tbody td:nth-child(2) {
          width: 200px;
        }
      }

      &.track {
        >tbody {
          height: 225px;
        }

        >thead th:nth-child(1),
        >tbody th:nth-child(1) {
          width: 40px;
        }

        >thead th:nth-child(2) {
          width: 320px;
        }

        >tbody td:nth-child(2) {
          width: 305px;
        }
      }

      &.property th {
        padding-right: 10px;
      }
    }
  }

  .aboutview {
    label {
      line-height: 34px;
    }
  }
}
