#splash {
  z-index: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ECECEC;
}

#splash .loading-progress {
  width: 320px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -150px;
}

#splash .loading-progress .item img {
  margin: 0 auto;
}

#splash .loading-progress .carousel-mask-left {
  width: 320px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-box-shadow: inset 20px 0px 30px 0px #ECECEC;
  -moz-box-shadow: inset 20px 0px 30px 0px #ECECEC;
  box-shadow: inset 20px 0px 30px 0px #ECECEC;
}

#splash .loading-progress .carousel-mask-right {
  width: 320px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-box-shadow: inset 20px 0px 30px 0px #ECECEC;
  -moz-box-shadow: inset 20px 0px 30px 0px #ECECEC;
  box-shadow: inset -20px 0px 30px 0px #ECECEC;
}
