* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html, body { overflow: hidden; }
body { margin: 0; padding: 0; background-color: #ccc; }

#map { position:absolute; top:0; bottom:0; width:100%; }

.position-label .mapboxgl-popup-content,
.ship-label .mapboxgl-popup-content {
  font-size: 11px;
  line-height: 14px;
  padding: 5px;
  padding-top: 20px;

  border-radius: 0px;
  box-shadow: none;
}

.ship-label .mapboxgl-popup-content hr {
  margin-top: 2px;
  margin-bottom: 4px;
}

.ship-label .mapboxgl-popup-content { background: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip { border-bottom-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip { border-bottom-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip { border-top-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip { border-top-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: rgba(255,255,255,0.9); }
.ship-label.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: rgba(255,255,255,0.9); }

.position-label .mapboxgl-popup-content { background: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip { border-bottom-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip { border-bottom-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip { border-top-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip { border-top-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color: rgba(255,220,96,0.7); }
.position-label.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color: rgba(255,220,96,0.7); }

#content {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
}

#content .header {
  background-color: white;
  padding: 10px 20px;
}

#content .footer {
  background-color: white;
  padding: 0px 20px 10px;
}

#content .inner {
  height: 430px;
  width: 400px;
  padding: 10px 20px 0px;
  background-color: white;
}

#content table {
  margin-bottom: 0px;
}

#content table.fixedhead > thead a {
  color: #333;
  text-decoration: none;
  margin-bottom: 0px;
  background-color: white;
}

#content table.fixedhead > tbody {
  height: 375px;
  width: 360px;
  overflow-y: scroll;
  cursor: pointer;

  border-bottom: 2px solid #ddd;
}

#content .ship table.fixedhead > tbody {
  height: 300px;
}

#content table.fixedhead > thead a:focus,
#content table.fixedhead > thead a:hover {
  color: #888;
  text-decoration: none;
}

#content table.fixedhead > thead,
#content table.fixedhead > tbody {
  display: block;
}

#content .list table.fixedhead > thead th:nth-child(1),
#content .list table.fixedhead > tbody td:nth-child(1) {
  width: 225px;
}

#content .list table.fixedhead > thead th:nth-child(2) {
  width: 135px;
}

#content .list table.fixedhead > tbody td:nth-child(2) {
  width: 120px;
}

#content .ship h3 {
  margin-top: 0px;
}

#content .ship table.fixedhead > thead th:nth-child(1),
#content .ship table.fixedhead > tbody th:nth-child(1) {
  width: 120px;
}

#content .ship table.fixedhead > thead th:nth-child(2) {
  width: 240px;
}
#content .ship table.fixedhead > tbody td:nth-child(2) {
  width: 225px;
}

#content .ship table.position > thead th:nth-child(1),
#content .ship table.position > tbody th:nth-child(1) {
  width: 145px;
}

#content .ship table.position > thead th:nth-child(2) {
  width: 215px;
}
#content .ship table.position > tbody td:nth-child(2) {
  width: 200px;
}

#content .ship table.track > thead th:nth-child(1),
#content .ship table.track > tbody th:nth-child(1) {
  width: 40px;
}

#content .ship table.track > thead th:nth-child(2) {
  width: 320px;
}
#content .ship table.track > tbody td:nth-child(2) {
  width: 305px;
}

#content .ship table.property th {
  padding-right: 10px;
}
