<div class="inner">
  <div class="center-block">
    <h3>AIS Tracker</h3>
    <form class="form-horizontal">
      <br><h4>Antenna profile</h4>
      <p>
        <div class="pull-left"><label for="today">Today</label></div>
        <div class="pull-right"><input type="checkbox" class="form-control" id="today"></div>
      </p>
      <p class="clearfix">
        <div class="pull-left"><label for="thisweek">This week</label></div>
        <div class="pull-right"><input type="checkbox" class="form-control" id="thisweek"></div>
      </p>
      <p class="clearfix">
        <div class="pull-left"><label for="lastweek">Last week</label></div>
        <div class="pull-right"><input type="checkbox" class="form-control" id="lastweek"></div>
      </p>
    </form>
  </div>
</div>