<tr>
  <th>
    <div class="dropdown">
      <a data-toggle="dropdown" role="button">
        Vessel name
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" class="name_asc">Sort ascending</a></li>
        <li><a href="#" class="name_desc">Sort descending</a></li>
      </ul>
    </div>
  </th>
  <th>
    <div class="dropdown">
      <a data-toggle="dropdown" role="button">
        {{secondColumn}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" class="column_asc">Sort ascending</a></li>
        <li><a href="#" class="column_desc">Sort descending</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" class="column_change">{{changelabel}}</a></li>
      </ul>
    </div>
  </th>
</tr>