<div class="log">
  <div class="inner">
    <table class="table table-condensed table-hover loglist fixedhead">
    <thead>
      <th>
        <div class="pull-left">
          Message
        </div>
      </th>
    </thead>
    <tbody class="scrollable"></tbody>
    </table>
  </div>
</div>
