<div class="log">
  <div class="inner">
    <table class="table table-condensed table-hover loglist fixedhead">
    <thead>
      <th>
        <div class="pull-left">
          Message
        </div>
        <div class="pull-right">
          <form>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Position only
              </label>
            </div>
          </form>
        </div>
      </th>
    </thead>
    <tbody></tbody>
    </table>
  </div>
</div>
