<div class="btn-group btn-group-vertical btn-group-lg" role="group">
  {{#each buttons}}
    <button type="button" class="btn btn-default {{cls}}">
      <span class="glyphicon glyphicon-{{cls}}" aria-hidden="true"></span>
    </button>
  {{/each}}
</div>