<div class="header clearfix">
  <form class="form-horizontal">
    <input class="form-control" type="text" placeholder="Filter by Name or MMSI" value="{{filter}}">
  </form>
</div>
<div class="collapse">
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner" role="listbox">
    </div>
  </div>
</div>
<div class="footer">
  <ul class="nav nav-pills">
    <li role="presentation" class="toabout"><a href="#">About</a></li>
    <li role="presentation" class="tolist"><a href="#">Ship list</a></li>
  </ul>
</div>