<div class="header clearfix">
  <form class="form-horizontal">
    <input class="form-control" type="text" placeholder="Filter by Name or MMSI" value="{{filter}}">
  </form>
</div>
<div class="list">
  <div class="collapse">
    <div class="inner">
      <div class="list-table"></div>
    </div>
  </div>
</div>
<div class="ship">
  <div class="collapse">
    <div class="inner">
      <div class="ship-details"></div>
    </div>
  </div>
</div>
<div class="footer">
  <ul class="nav nav-pills">
    <li role="presentation" class="tolist"><a href="#">Ship list</a></li>
    <li role="presentation" class="disabled toship"><a href="#">Ship details</a></li>
  </ul>
</div>