<thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
</thead>
<tbody class="scrollable">
  {{#each properties}}
  <tr class="{{cls}}">
    <th scope="row">{{name}}</th>
    <td>{{{value}}}</td>
  </tr>
  {{/each}}
</tbody>
