<div class="ship">
  <div class="inner">
    <h3>{{title}}</h3>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="shipdetails {{#if active.ship}}active{{/if}}">
          <a href="#shipdetails" aria-controls="shipdetails" role="tab" data-toggle="tab">Details</a>
        </li>
        <li role="presentation" class="lastposition {{#if active.position}}active{{/if}}">
          <a href="#lastposition" aria-controls="lastposition" role="tab" data-toggle="tab">Last position</a>
        </li>
        <li role="presentation" class="track disabled">
          <a href="#track" aria-controls="track" role="tab" data-toggle="tab">Track</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane {{#if active.ship}}active{{/if}}" id="shipdetails"></div>
        <div role="tabpanel" class="tab-pane {{#if active.position}}active{{/if}}" id="lastposition"></div>
        <div role="tabpanel" class="tab-pane" id="track"></div>
        <div role="tabpanel" class="tab-pane" id="trackposition"></div>
      </div>
    </div>
  </div>
</div>
